.inline-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inline-img p {
    text-align: center;
    font-size: 8pt;
}

/* Applies to built-in class for footnote text */
.footnote-definition p {
    font-size: 8pt;
}