.inline-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inline-img p {
    text-align: center;
    font-size: 8pt;
}



/* Applies to built-in class for footnote text */
.footnote-definition p {
    font-size: 8pt;
}



.internal-link, .auto-internal-link a {
    font-size: 10pt;
    padding: 1pt 6pt;
    border: 1pt outset buttonborder;
    border-radius: 3pt;
    background-color: black;
    white-space: nowrap; /* Mid-text wrapping sucks */
}

.internal-link:hover, .auto-internal-link a:hover {
    font-size: 10pt;
    padding: 1pt 6pt;
    border: 1pt outset buttonborder;
    border-radius: 3pt;
    background-color: rgb(33, 33, 33);
    white-space: nowrap;
}



.external-link {
    font-size: 10pt;
    padding: 1pt 6pt;
    border: 1pt outset buttonborder;
    border-radius: 3pt;
    background-color: rgb(53, 53, 53);
    border-color: orange;
    white-space: nowrap;
}

.external-link:hover {
    font-size: 10pt;
    padding: 1pt 6pt;
    border: 1pt outset buttonborder;
    border-radius: 3pt;
    background-color: rgb(72, 72, 72);
    border-color: orange;
    white-space: nowrap;
}

.external-link:link, .external-link:visited, .external-link:active {
    color: orange;
}



.warning {
    display: flex;
    align-items: center;
    color: peru;
    font-size: 11pt;
}

.warning::before {
    padding-top: 0pt;
}



blockquote div.info-title {
    padding-top: 12pt;
    display: flex;
    gap: 5pt;
    font-size: 10pt;
    font-weight: 700;
}

blockquote div.info-title img {
    width: 2.5%;
}

blockquote p {
    font-size: 8pt;
}